/* css/estilos.css */

body {
	background-image: url(../../../fondo.jpg);	
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #232323;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav-tabs > li > a {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #495057;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs > li.active > a {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}


.tab-pane {
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
	border-radius: 0;
	text-align: center;
	padding: 10px;
    border: 1px solid #dee2e6;
    border-top: 0;
}
