/* css/otros_estilos.css */
/* Eliminar márgenes internos del panel */
.panel-body {
    padding: 0;
}

.venta-header {
    background-color: #007bff; /* New modern blue */
    color: white;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 0;
    margin-right: 0;
}

.datos-sorteo-row {
    background-color: #ffeb3b;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: right;
}

/* Estilos para el formulario de entrada de números */
.number-input-container {
    padding: 20px;
}

.number-input-digit-wrapper {
    padding: 2px;
}

.number-input-digit {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.number-buttons-container {
    padding-left: 10px;
    margin-top: 1px;
}

.number-button-wrapper-generate {
    padding-right: 5px;
}

.number-button-wrapper-clear {
    padding-left: 5px;
}

.number-button {
    height: 35px;
    line-height: 35px;
    padding-top: 0;
    padding-bottom: 0;
}

.resumen-venta .fila-resumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    font-size: 1.1em;
}

.resumen-venta .total-final {
    font-size: 1.3em;
    font-weight: bold;
    color: #337ab7; /* Primary color */
}

.resumen-venta hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ingrese-efectivo {
    font-size: 1.2em;
}

.resumen-venta .fila-resumen > label,
.resumen-venta .fila-resumen > span {
    width: 150px; /* Adjust as needed */
    text-align: left;
}

/* Ajustes para el encabezado del panel de Totales */
.panel-success > .panel-heading {
    padding: 12px 15px; /* Ajusta el padding para que sea similar al venta-header */
}

.panel-success > .panel-heading > .panel-title {
    font-size: 18px; /* Ajusta el tamaño de la fuente */
    font-weight: bold; /* Asegura que esté en negrita */
    text-align: center; /* Centra el texto */
}
